.imageUpload{
    display: flex;
    flex-direction: column;
    width:80%;
    max-width: 700px;
    margin: 10px auto;
}
.imageUpload__progress{
    width: 100%;
}
.imageUpload input{
    margin-top: 10px;
    padding: 5px;
}
.imageUpload button {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
}
.imageUpload input[type='file'] { 
}
.imageUpload__error {
    color: red;
}