.post{
    max-width:720px;
    background-color: white;
    border:1px solid lightgray;
    margin:20px 0 30px 0;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgray;

}
.post__text{
    font-weight:normal;
    padding: 20px;;
}
.post__header{
    display:flex;
    align-items: center;
    padding: 0px 10px;
}
.post__avatar{
    margin:10px;
}
.post__comments{
    padding: 5px;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}
.post__input{
    flex:1;
    padding: 10px;
    border:none;
    border-top:1px solid lightgray;
}
.post__button{
    flex:0;
    border:none;
    border-top:1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}