.post{
    width:100%;
    background-color: white;
    border:1px solid lightgray;
    margin:20px 0 30px 0;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgray;

}
.post__likeComment svg{
    margin: 7px 7px 0 7px;
    color: #404040;
    cursor: pointer;    
  }

.post__text{
    font-weight:normal;
    padding: 10px 10px 0 10px;
}
svg.post-liked{
 color: rgb(237, 73, 86);
 animation-name:bump;
 animation-duration: 0.2s;
}
@keyframes bump {
    from {
        transform: scale(1)
    }to{
        transform: scale(1.2);
    }
}
.post__header{
    display:flex;
    align-items: center;
    padding: 0px 10px;
}
.post__avatar{
    margin:10px;
}
.post__likeComment {
  font-size: 25px; 
}
.post__commentsCount a{
   color:#8e8e8e;
   display: inline-block;
   margin:10px;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}
.post__input{
    flex:1;
    padding: 10px;
    border:none;
    border-top:1px solid lightgray;
    outline: none;
}
.post__button{
    flex:0;
    border:none;
    border-top:1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}