.postCommentsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.postCommentsWrapper__container{
    width: 100%;
    display: flex;
    max-width: 1000px;
    max-height: 500px;
    margin:30px auto 0 auto;
}

/* left side of post comments container */
.postCommentsWrapper__container__left {
    width:65%;
}
.postCommentsWrapper__container__left img{
  width: 100%;
  height: 100%;
}

/* right side of post comments container */
.postComments__user {
    font-weight: 600;
}
.postComments__likes {
    font-size: 17px;
    font-weight: 600;
}
.postComments__user:hover {
    text-decoration: underline;
}
.postCommentsWrapper__container__right{
  width:35%;
  border:1px solid #b3b3b3;
  background-color: white;
  overflow-y: scroll;
}
.postCommentsWrapper__container__right__header {
    padding:10px 20px;
    border-bottom: 1px solid #eee;
}
.postCommentsWrapper__container__right__header__top {
    display: flex;
    align-items: center;
}
.postCommentsWrapper__container__right__header p {
    margin:0 0 5px 5px;
}
.postCommentsWrapper__container__right__header h4{
    margin-left: 10px;
}
.postCommentsWrapper__container__right__comments {
    padding:0 20px 20px 20px;
}
.postCommentsWrapper__container__right__comments__heading {
    color: #8e8e8e;
}
.postCommentsWrapper__container__right__comments p {
    margin: 10px 0;
}
.postCommentsWrapper__container__right__comments__no {
    display: flex;
    justify-content: center;
    color:#8e8e8e;
    padding: 30px 0;
}
/* end of right side part */
.postCommentsWrapper__container__bottom {
    color:#8e8e8e;
    margin:20px 0;
}

/* code for other devices */
@media screen and (max-width:1020px) {
   .postCommentsWrapper__container {
       flex-direction: column;
       max-width: 600px;
       max-height:90vh;
   } 
   .postCommentsWrapper__container__left,.postCommentsWrapper__container__right  {
       width: 100%;
   }
}
 