*{
  margin:0px;
  box-sizing: border-box;
}
.app{
  background-color: #fafafa;
}
.app__header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom:1px solid lightgray;

}
.header{
  width: 90%;
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
}
.app__headerImage{
  object-fit: contain;
}
.app__signParent{
  width: 80%;
  max-width: 400px;
}
.app__signInput{
  margin: 10px 0;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__posts{
  display: flex;
  justify-content: center;
}
